<h1>This is the title</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Website</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        {{#each users}}
      <th scope="row">1</th>
      <td>{{this.name}}</td>
      <td>{{this.address.street}}</td>
      <td>{{this.address.suite}}</td>
      <td>{{this.address.city}}</td>
      <td>{{this.address.zipcode}}</td>
      <td><a href="https://{{this.website}}" target="_blank">{{this.website}}</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>






